*{
  margin:0px;
  padding:0px;
  background-color:#151813;
}

#contenedor{
  margin-top:20px;
  color:white;
  text-align: center;
}

#titulo{
  font-size: 100px;
}

button{
  margin-top: 100px;
  margin-left: 20px !important;
}
button,a{
  background-color: #ce2506; 
  padding: 15px 32px;
  text-align: center;
  color:white !important;
  text-decoration: none !important;
  display: inline-block;
  font-size: 16px;
  border-radius:3px !important;
  margin:20px;
}

/* Estilo del botón cuando el usuario pasa el ratón por encima */
button:hover {
  background-color: #f5260a;
}

/* Estilo cuando el botón es presionado */
button:active {
  background-color: #388e3c;
}



