*{
  margin:0px;
  padding:0px;
  background-color:#151813;
}

#contenedor{
  margin-top:20px;
  color:white;
  text-align: center;
}

#titulo{
  font-size: 100px;
}

.button{
  background-color: #ce2506; 
  padding: 15px 32px;
  text-align: center;
  color:white ;
  text-decoration: none ;
  display: inline-block;
  font-size: 80px;
  border-radius:10px ;
  margin:40px;
}
.a{
  text-decoration: none ;
  color:white ;
  background-color: #ce2506;
  border-radius: 3px;
}

/* Estilo del botón cuando el usuario pasa el ratón por encima */
.button:hover,.a:hover {
  background-color: #f5260a;
}

/* Estilo cuando el botón es presionado */
.button:active, .a:hover {
  background-color:  #f5260a;
}



