form {
  width: 100%;
  max-width: 400px;
  
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 480px) {
  form {
    padding: 15px;
    width: 90%;
  }

  button {
    font-size: 14px;
  }
}
.errorMessage{
  background-color:#e9e618;
  color: black;
  text-align: center;
  border-radius: 4px;
}
